#google-logo-image {
  margin: auto;
  text-align: center;
}

.center-screen {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 27%;
}

.input-search {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 25px;

}



#search-bar {
  width: 540px;
  height: 45px;
  border-radius: 50px;
  border-color: #DADCE1;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
}

#search-bar:hover {
  box-shadow: 0px 2px 10px -4px grey;
}

#search-icon {
  position: relative;
  left: 40px;
  top: 10px;
  color: #8F969C;
  font-size: 22px;
}

div.v1 {
  position: relative;
  border-left: 1px solid #DADCE1;
  height: 27px;
  background-color: red;
  top: 9px;
  right: 55px;
}

#mic {
  position: relative;
  height: 20px;
  top: 11px;
  right: 40px;
}

input[type="text"] {
    box-sizing: border-box;
    padding-left: 50px;
}

button.search-buttons {
  background-color: #F7F8F9;
  font-size: 14px;
  color: #606366;
  border-style: solid;
  border-color: #F7F8F9;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px 15px 10px 15px;
  margin: 20px 5px 5px 5px;
}

.buttons {
  position: relative;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}

button:hover.search-buttons {
  border-color: #D6D7DC;
  box-shadow: 0px 3px 4px -4px grey;
}

button#sign-in {
  background-color: #0066E4;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: #0066E4;
  margin-top: 9px;
  padding-left: 20px;
  margin-left: 10px;
  padding-right: 20px;
  font-size: 14px;

  line-height: 30px;

}
button:hover#sign-in {
  border-color: #0066E4;
  box-shadow: 0px 0px 8px -4px #0066E4;
}

#privacy-checkup {
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F0F0F0 !important;
  height: 55px;
  color: #6F7378;
  font-size: 14px;
}



.left {
  position: relative;
  line-height: 55px;
  float: left;
  margin-left: 20px;
}

.right {
  position: relative;
  line-height: 55px;
  float: right;
  margin-left: 20px;
}

#app-right {
  position: relative;
  float: right;
  top: 5px;
  margin-left: 10px;
  padding: 10px;
}

#app-right:hover {
  background-color: #EEEEEE;
  border-radius: 100%;
}


a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav .left {
  font-size: 14px;
}
nav .right {
  font-size: 13px;
}

body {
  font-family: helvetica;
  font-size: 15px;
}
